.done {
    @apply transform -translate-y-24;
    @apply text-4xl font-bold text-center text-white;
}

.logo {
    @apply block mx-auto;
    @apply mt-28;
}

.thanks {
    @apply text-center text-4xl font-bold text-black;
    @apply mt-11;
    @apply w-52 mx-auto;
}

.emoji {
    @apply text-center text-4xl mt-10 pb-40;
}

.item1 {
    height: 50px;
    background-color: #830029;
}

/* 
.blob {
    display: block;
    position: absolute;
    z-index: -1;
} */