.pictureCanvas {
    background: rgba(0, 115, 174, 0.7);
    border-radius: 10px;
    @apply max-w-md mx-auto;
}

.picture {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.question {
    @apply text-center text-white text-base;
    @apply col-span-4 ;
    @apply transform translate-y-12;
}

.btnGroup {
    @apply grid grid-cols-4;
    @apply transform -translate-y-24;
}

.check {
    @apply justify-self-end px-4;
}

.back {
    @apply justify-self-start px-4;
}